*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
     background-color: #ffffff;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: inherit;
}

h1 {
    margin: 30px 0;
    color: #0072bc;
    text-align: center;
}

h2 {
    color: #666;
    color: #0072bc;
    text-align: center;
}

p {
    color: #888;
    padding: 1rem;
}

h1,
h2,
p {
    display: inline-block;
}
.title{
    background-color: bisque;
}

input,
textarea,
button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.form {
    display: grid;
    justify-items: center;
    row-gap: 10px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;

    &__input {
        width: 100%;

        &--button {
            width: auto;

            &:hover {
                cursor: pointer;
            }
        }
    }
}